[submodule "submodules/ProphET"]
	path = submodules/ProphET
	url = https://github.com/jaumlrc/ProphET
[submodule "submodules/islandpath"]
	path = submodules/islandpath
	url = https://github.com/brinkmanlab/islandpath
[submodule "submodules/OASIS"]
	path = submodules/OASIS
	url = https://github.com/nickp60/OASIS
